body {
    background-color: #111;
}

blockquote {
    margin: 2rem 1rem 1rem;
    padding: 3px;
    background: whitesmoke;
    border: 1px solid;
}

.author-description {
    text-align: justify;
    width: 50%;
    margin: 15px 0 0px 25%;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #profile-card .profile-img {
        width: 60%;
    }

    .author-description {
        width: 100%;
        margin: 5px 0px 5px 0px;
    }
    .card{
        margin: 0 0 20px 0 !important;
    }
}