---
layout: default
---

<div class="row ">

    <div class="col-lg-12">
        <div class="card" id="profile-card">
            <a href="/">
                <img src="https://ik.imagekit.io/zjcob2ll62/sajiya_dev/profile_pic_2025__pdMloZe6.png?updatedAt=1745669769596"
                    class="profile-img">
            </a>
            <h1 class="profile-name"> {{ site.title }}</h1>
            <p class="profile-bio"> {{ site.subtitle }}</p>
            {% if site.github_username %}
            {%- include github_follow_button.html -%}
            {% endif %}

            <p class="profile-links">
                {% if site.linkedin_username %}
                <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                {% endif %}
                {% if site.github_username %}
                <a class="social-link" href="http://github.com/{{ site.github_username }}">
                    <i class="fab fa-github"></i>
                </a>
                {% endif %}
                {% if site.stackoverflow_username %}
                <a class="social-link" href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}">
                    <i class="fab fa-stack-overflow"></i>
                </a>
                {% endif %}
                {% if site.facebook_username %}
                <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}
                {% if site.instagram_username %}
                <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}">
                    <i class="fab fa-instagram"></i>
                </a>
                {% endif %}

                {% if site.twitter_username %}
                <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}">
                    <i class="fab fa-twitter"></i>
                </a>
                {% endif %}
                {% if site.medium_username %}
                <a class="social-link" href="http://medium.com/@{{ site.medium_username }}">
                    <i class="fab fa-medium-m"></i>
                </a>
                {% endif %}
                {% if site.behance_username %}
                <a class="social-link" href="http://behance.net/{{ site.behance_username }}">
                    <i class="fab fa-behance"></i>
                </a>
                {% endif %}
                {% if site.telegram_username %}
                <a class="social-link" href="http://t.me/{{ site.telegram_username }}">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                {% endif %}
                {% if site.dribbble_username %}
                <a class="social-link" href="https://dribbble.com/{{ site.dribbble_username }}">
                    <i class="fab fa-dribbble"></i>
                </a>
                {% endif %}
                {% if site.flickr_username %}
                <a class="social-link" href="https://www.flickr.com/photos/{{ site.flickr_username }}">
                    <i class="fab fa-flickr"></i>
                </a>
                {% endif %}
            </p>

            {% if site.author_location %}
            <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
            {% endif %}

            {% if site.author_email %}
            <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
            {% endif %}

            {% if site.author_website_url %}
            <h6><i class="fas fa-link"></i> <a href="{{ site.author_website_url }}">{{ site.author_website_url }}</a>
            </h6>
            {% endif %}

            <div class="author-description">
                {% if site.author_description %}
                <p> {{ site.author_description }}</p>
                {% endif %}
                <br>
                {% if site.show_author_experience == true %}
                <div class="section">
                    <h5>Work Experience</h5>
                    <ul>
                        <li>
                            <strong>Lead Software Engineer</strong>, PrimeSens LLC – Colombo, Sri Lanka <em>Apr 2024 –
                                Present</em>
                            <ul>
                                <li>Designed the system architecture and led the development team to build LLM powered
                                    microservices for a Customer Relationship Management (CRM), featuring intelligent
                                    lead scoring and an agentic AI chatbot that streamlined customer interactions
                                    through deal prioritization and automated actions</li>
                                <li>Developed an analyzer for rent roll and T12 statements utilizing LLMs, automatically
                                    extracting tabular data from diverse PDF and spreadsheet formats and unifying
                                    inconsistent headers to accelerate real estate financial analysis</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Senior Software Engineer</strong>, PrimeSens LLC – Colombo, Sri Lanka <em>Aug 2021 –
                                Apr 2024</em>
                            <ul>
                                <li>Reduced AWS server costs by 89% by designing a GPU accelerated video transcoding
                                    solution (an AWS MediaLive substitute), and engineered a real-time closed captioning
                                    engine utilizing speech-to-text machine learning models</li>
                                <li>Developed multivariate time series forecasting models for geo-specific mortgage
                                    rates, delivering actionable insights that enhanced financial analysis and
                                    investment strategies for investors</li>
                                <li>Engineered a recommendation system using Collaborative Filtering and a CNN facial
                                    classifier, powering AR try-on experiences to enhance e-commerce personalization and
                                    customer satisfaction</li>
                                <li>Designed and deployed scalable microservices for a unified social media management
                                    platform, integrating Facebook/Instagram/X/LinkedIn APIs and managing via Kubernetes
                                    for robust performance and reliability</li>
                                <li>Developed high-throughput post schedulers processing complex media files and
                                    optimized data analysis across 50+ metrics, delivering key social media insights for
                                    strategy</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Software Engineer</strong>, Self Employed <em>Oct 2020 – Aug 2021</em>
                            <ul>
                                <li>Built and scaled automated ETL pipelines using Apache Airflow for SEC Form 4 data,
                                    processing 5 million historical records and over 3,000 daily filings to power robust
                                    insider trading analytics and compliance monitoring</li>
                                <li>Developed and maintained web scrapers for over 8,000 companies, enriching Form 4
                                    datasets and optimizing data processing workflows to deliver actionable trading
                                    insights and enhance investment decision making</li>
                                <li>Designed and implemented REST APIs (FastAPI) and microservices, including real-time
                                    video streaming solutions using AWS Chime, FFmpeg, and WebRTC, to support scalable
                                    and interactive application features</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Software Engineer</strong>, Arimac Lanka (pvt) Limited – Colombo, Sri Lanka <em>Jul
                                2019 – Sept 2020</em>
                            <ul>
                                <li>Engineered multi-platform integrations for a social listening tool, expanding data
                                    extraction across various channels to enable comprehensive analysis of trends,
                                    conversations, and brand sentiment for clients</li>
                                <li>Integrated SERP analysis to enhance a social listening tool, enabling extraction of
                                    web search data to provide richer context and comprehensive brand insights alongside
                                    social media analysis</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Software Engineer Intern</strong>, Fortunaglobal (pvt) Limited – Colombo, Sri Lanka
                            <em>Jul 2017 – Jul 2018</em>
                            <ul>
                                <li>Developed fintech chatbots using fuzzy logic and sequence ML models, enabling
                                    automated handling of customer inquiries and providing secure access to essential
                                    online banking functionalities</li>
                                <li>Built a dashboard visualizing chatbot interactions and managed secure on-premise
                                    deployment, ensuring compliance with strict banking security standards for the
                                    conversational AI system</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="section">
                    <h5>Education</h5>
                    <ul>
                        <li>
                            <strong>University of Westminster</strong> – BEng in Software Engineering (First Class
                            Honours) <em>Sept 2015 - Aug 2019</em>
                        </li>
                    </ul>
                </div>

                <div class="section">
                    <h5>Skills</h5>
                    <ul>
                        <li><strong>Languages:</strong> Python, Bash, SQL</li>
                        <li><strong>Libraries:</strong> FastAPI, Pandas, Celery, Numpy, Agno, LangGraph, Pytorch,
                            Tensorflow, scikit-learn, FFmpeg, OpenCV, Selenium</li>
                        <li><strong>Databases:</strong> PostgreSQL, MongoDB, DynamoDB, Redis, ArangoDB, Chroma</li>
                        <li><strong>Tools & Platforms:</strong> AWS (Step Functions, EC2, Lambda, S3, Sagemaker), GCP,
                            Docker, Kubernetes, Nginx, Apache Airflow</li>
                    </ul>
                </div>

                <div class="section">
                    <p>Let's Connect</p>
                    <p>I’m always open to collaborating on innovative AI projects or discussing the future of agentic
                        automation.<br>
                        Feel free to reach out or explore my portfolio for more!</p>
                </div>


                {% endif %}
            </div>

        </div>
    </div>
</div>